.title{
    display: flex;
    justify-content: center;align-items: center;
    flex-direction: column;
    margin-top: 20px;
    font-size: 20px;
    margin-top: 20px;
}
.title p{
    color: var(--main-color);
    font-weight: 600;
    font-size: 16px;
    margin-bottom: -25px;
}

/* ---media------- */
@media (max-width:900px){
    .title h2{
        font-size: 20px;
    }
}