.btn{
    padding: 8px 12px;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 550;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    margin: auto;
    gap: 5px;
    font-family: "Inter", sans-serif;

}

.btn img{
    width: 25px;

}