.testimonials{
    position: relative;
    margin: 80px auto;
    padding: 0 70px;

}
.testimonials .backArrow, .nextArrow{
    background: var(--main-color);
    border-radius: 50%;
    padding: 10px;
    width: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    cursor: pointer;

} 
.testimonials .backArrow{
    left: 0;
}
.slider{
    overflow-x: scroll;
    scrollbar-width: none;
}
.slider ul{
    display: flex;
    width: 197%;
    /* overflow-x:scroll; */
    list-style: none;
    transition: 0.5s;


    
}
.slider ul li{
    width: 55%;
    background: #b7b6e443;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
    
}
.userImg{
    display: flex;
    align-items: center;
    gap: 3%;
}
.userImg img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 3px solid var(--main-color);
}
.userInfo h3{
    color: var(--main-color);
}
.userInfo span{
    display: block;
    margin-top: -20px;
}
.user p{
    padding: 5px;
}


/* -------media---queriez----- */
/* @media(max-width:900px){
    .testimonials .backArrow, .nextArrow {
        padding: 7px;
        width: 15px;
    }
    .slider ul{
        width: 170%;
    }
    .slider ul li{
        padding-left: 30px;
    }

}
@media(max-width:7540px){
    .userImg img{
    width: 30px;
    height: 30px;
}
.userInfo h3{
    font-size: 15px;
}
.userInfo span{
    font-size: 10px;
}
.user p{
    font-size: 15px;
}
    

}

@media(max-width:608px){
    .testimonials  {
       padding: 0 30px;
    }
    .user p{
    font-size: 10px;
}
.userInfo h3{
    font-size: 10px;
    margin-bottom: 19px;
}
.userInfo span{
    font-size: 8px;
    
}
        


} */

@media (max-width:870px){
    .testimonials{
        padding: 0 40px;
    }
    .testimonials .backArrow, .nextArrow{
        width: 15px;
        padding: 10px;
    }
    .testimonials ul li{
        padding: 8px;
    }
    .userImg img{
        width: 30px;
        height: 30px;
        border: 2px solid var(--main-color);
    }
    .userInfo h3{
        font-size: 14px;
    }
    .userInfo span{
        font-size: 10px;
    }
}

@media (max-width:450px){
    .testimonials{
        padding: 0 10px;
        margin: -20px;
    }
    .testimonials .backArrow, .nextArrow{
        display: none;
    }
    .user p{
        font-size: 10px;
        
    }
    .userInfo h3{
        font-size: 10px;
        margin-bottom: 17px;
    }
    .userInfo span{
        font-size: 6px;
    }

}