:root{
  --main-color:rgb(69, 69, 220) ;
}

body{
  margin: auto;
  font-family: "Poppins", sans-serif;
  
}
a{
  text-decoration: none;
  cursor: pointer;
}
ul{
  list-style: none;
}
.container{
  padding-left: 10%;
  padding-right: 10%;
}
button{
  cursor: pointer;
}

@media (max-width:1290px){
  .container{
    padding: 2%;
  }
}